*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

background:#dfeaff;

text-align:center;

padding:30px;

}

h1{

margin-bottom:25px;

color:#0d6efd;

}

.main-image{

margin:auto;

width:700px;

max-width:95%;

}

.main-image img{

width:100%;

height:420px;

object-fit:cover;

border-radius:15px;

box-shadow:0 10px 25px rgba(0,0,0,.3);

transition:.4s;

}

.buttons{

margin:20px;

}

button{

padding:12px 25px;

background:#0d6efd;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

font-size:16px;

margin:5px;

}

button:hover{

background:#084298;

}

.gallery{

display:flex;

justify-content:center;

flex-wrap:wrap;

gap:15px;

margin-top:25px;

}

.gallery img{

width:180px;

height:120px;

object-fit:cover;

cursor:pointer;

border-radius:10px;

transition:.4s;

}

.gallery img:hover{

transform:scale(1.1);

box-shadow:0 8px 20px rgba(0,0,0,.4);

}

@media(max-width:768px){

.main-image img{

height:250px;

}

.gallery img{

width:120px;

height:90px;

}

}